<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <div class="container">
 <!-- Top navigation -->
    <div class="topnav">

    <!-- Left-aligned links (default) -->
    <a href="/tests/find">Find Specific Quiz</a>

    <!-- Centered link -->
    <div class="topnav-centered">
        <a href="/home" class="active">Home</a>
    </div>

    <!-- Right-aligned links -->
    <div class="topnav-right">
        <a href="/profile">Profile/Your Quizzes</a>
        <a href="/logout">Log Out</a>
    </div>

    </div> 
    {{!-- <header>
        <ul class="navigation">
            <li class="nav-li"><a href="/home" class="nav-element">Home</a></li>
            <li class="nav-li"><a href="/tests" class="nav-element">All Tests</a></li>
            <li class="nav-li"><a href="/profile" class="nav-element">Profile</a></li>
            <li class="nav-li"><a href="/logout" class="nav-element">Log Out</a></li>
        </ul>
    </header> --}}
    {{{body}}}
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
</body>
</html>