<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <header>
        <ul class="navigation">
            Navigation
            <li class="nav-li"><a href="/home" class="nav-element">Home</a></li>
            <li class="nav-li"><a href="/tests" class="nav-element">All Tests</a></li>
            <li class="nav-li"><a href="/login" class="nav-element">Log in/Register</a></li>
        </ul>
    </header>
    {{{body}}}
</body>
</html>