{{!-- <div class="container"> --}}
<div class="center">
    <h2 class="home-header">TriviaFun</h2>
    <p class="input-label-text">Welcome to TriviaFun! Our mission is to help you study any topic in a fun and engaging manner! Select whether you'd like to take a test (if you know your test code) or to create one.</p>
<form action="/tests/make" id="static-form" method="get">
    <button type="submit" class="submit-button">Make a Test</button>
</form>
<form action="/tests/take" id="static-form" method="get">
    <label for="tid">
        <p class="input-label-text">OR</p>
        <p class="input-label-text">Take A Test</p>
        <input type="text" class="test-title-input-home" id="tid" name="tid" placeholder="Test ID"/>
    </label>
    <button type="submit" class="submit-button">Find Test</button>
</form>
</div>
{{!-- </div> --}}