<form action="/tests/make" id="static-form" method="get">
    <button type="submit" class="submit-button">Make a Test</button>
</form>
<form action="/tests/take" id="static-form" method="get">
    <label for="tid">
        Take A Test
        <input type="tid" class="test-title-input" id="tid" name="tid" placeholder="Test ID"/>
    </label>
    <button type="submit" class="submit-button">Find Test</button>
</form>