{{!-- <div class="container"> --}}
<div class="center">
    <h2 class="home-header">Study Buddy</h2>
    <p class="input-label-text">Welcome to Study Buddy! Our mission is to help you study any topic in a fun and engaging manner! Select whether you'd like to take a test (if you know your test code) or to create one.</p>
<form action="/tests/make" id="static-form" method="get">
    <button type="submit" class="submit-button">Make a Quiz</button>
</form>
<form action="/tests/" id="static-form" method="get">
    <label for="tid">
        <p class="input-label-text">OR</p>
        <p class="input-label-text">Take A Quiz</p>
    </label>
    <button type="submit" class="submit-button">Browse Quizzes</button>
</form>
</div>
{{!-- </div> --}}