<div class="center-test">
<form action="/tests/make/new_test" id="static-form" method="post">
    <fieldset id="fieldset">
    <h1 id="legend">Make a Test</h1>
    <label for="title">
        Title<br/>
        <input type="text" class="test-title-input" id="title" name="title" placeholder="Test title" required/><br/>
    </label>
    <label for="description">
        Description<br/>
        <input type="text" class="test-description-input" id="description" name="description" placeholder="Test description" required/><br/>
    </label>
    <div id="placeholder">
        <div id="template" class="questions">
            <label class="tLabel" for="question">Question 1<br/> <input type ="text" size="25" name="question" class="make-test-input" placeholder="Question" id="question"/><br /></label>
            <label class="tLabel" for="correct_answer">Correct Answer<br/> <input type ="text" size="25" name="correct_answer" class="make-test-input" placeholder="Answer" id="correct_answer"/><br /></label>
            <label class="tLabel" for="distractor1">Wrong Answers (Please enter at least 1 input)<br/><input type ="text" size="25" name="distractor1" class="make-test-input" placeholder="Wrong Answer" id="distractor1"/><br /></label>
            <label class="tLabel" for="distractor2"><input type ="text" size="25" name="distractor2" class="make-test-input" placeholder="Wrong Answer" id="distractor2"/><br /></label>
            <label class="tLabel" for="distractor3"><input type ="text" size="25" name="distractor3" class="make-test-input" placeholder="Wrong Answer" id="distractor3"/><br /></label>
        </div> <!-- template -->
        <div id="break"><br/></div>
    </div> <!-- placeholder -->
    <p><button type="button" name="addQuestion" onclick="Add();" class="submit-button-test">Add new question</button></p>
    <p><button type="button" name="deleteQuestion" onclick="Delete();" class="submit-button-test">Delete last question</button></p>
    </fieldset>
    <script>
        var _counter = 1;
        function Add() {
            _counter++;
            console.log($("#question"))
            var oClone = document.getElementById("template").cloneNode(true);
            // oClone.innerHTML = oClone.innerHTML.substring(10)
            oClone.innerHTML = `<label class="tLabel" for="question"> Question ${_counter} ${oClone.innerHTML.substring(60)}` 
            oClone.id += (_counter + "");
            document.getElementById("placeholder").appendChild(oClone); 
            let testInputArr = $(".make-test-input")
            //testInputArr = testInputArr.slice(Math.max(testInputArr.length - 5, 0))
            for (let i=testInputArr.length-1; i>testInputArr.length-6; i--) {
                console.log($(testInputArr[i]))
                let newId = `${$(testInputArr[i]).attr('id')}${_counter}`
                $(testInputArr[i]).attr("id", newId);
            }
            let testLabelArr = $(".tLabel")
            //testLabelArr = testLabelArr.slice(Math.max(testLabelArr.length - 5, 0))
            for (let i=testLabelArr.length-1; i>testLabelArr.length-6; i--) {
                console.log($(testLabelArr[i]))
                let newFor = `${$(testLabelArr[i]).attr('for')}${_counter}`
                $(testLabelArr[i]).attr("for", newFor);
            }
            console.log(testInputArr)
            var brClone = document.getElementById("break").cloneNode(true);
            brClone.id += (_counter + "");
            document.getElementById("placeholder").appendChild(brClone); 
        } 
        function Delete() {
            var oClone = document.getElementById(`template${_counter}`);
            oClone.remove();
            var brClone = document.getElementById(`break${_counter}`);
            brClone.remove();
            _counter--;
        }
    </script>
    <div class="form-group hidden" id="add-question"></div>
    <button type="submit" class="submit-button-test">Submit</button>
</form>
</div>