<div class="container">
<div class="center">
<main>
    <p class="test-made">Your test has been made!</p>
    <p class="test-made">Copy the link below and share it with friends!</p>
    <p class="test-made"><a href="/tests/take/{{quiz._id}}">Link to test.</a></p>
</main>
</div>
</div>