<div class="container">
<div class="center">
<main>
    <p class="test-results">Results on {{quiz.title}}</p>
    <p class="test-results">{{result.score}} / {{result.total}}</p>
    <p class="test-results"><a href="/tests/take/{{quiz._id}}">Retake Test</a></p>
</main>
</div>
</div>